<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

    <context id="DB2Tables" targetRuntime="MyBatis3">

        <!--  配置不产生注解  -->
        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>

        <!--  配置数据库连接  -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://localhost:3306/matrix-ssm"  userId="root" password="123456"/>

        <javaTypeResolver >
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <!--  指定javaBean(entity)生成的位置  -->
        <javaModelGenerator targetPackage="com.lyldelove.entity.system" targetProject=".\src\main\java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="false" />
        </javaModelGenerator>

        <!--  指定sql映射文件生成的位置  -->
        <sqlMapGenerator targetPackage="mapper.system"  targetProject=".\src\main\resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <!--  指定dao接口生成的位置，mapper接口  -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.lyldelove.dao.system"  targetProject=".\src\main\java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>

        <!--  指定表的生成策略  -->
        <table tableName="sys_user"
               domainObjectName="SysUser"
               enableCountByExample="false"
               enableDeleteByExample="false"
               enableDeleteByPrimaryKey="true"
               enableInsert="true"
               enableSelectByExample="false"
               enableSelectByPrimaryKey="true"
               enableUpdateByExample="false"
               enableUpdateByPrimaryKey="true" />

    </context>
</generatorConfiguration>