<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!--  启用骆驼命名法则，使得数据库字段可以对应JavaBean属性，如果使用ResultMap就不需要开启  -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--  起别名，这样在Mapper.xml文件中，resultType就可以简写，默认规则是JavaBean类名首字母小写  -->
    <typeAliases>
        <package name="com.lyldelove.entity.system"/>
    </typeAliases>

</configuration>