<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!--  其余骆驼命名法则，是的数据库字段可以对应JavaBean属性  -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

</configuration>