<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--  设置包扫描，不扫描Controller  -->
    <context:component-scan base-package="com.lyldelove">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--  加载外部配置文件  -->
    <context:property-placeholder location="classpath:jdbc.properties"/>

    <!--  配置Druid数据源  -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>

        <!--  指定连接池中最大的活跃连接数  -->
        <property name="maxActive" value="20"/>
        <!--  指定启动连接池时，初始建立的连接数量  -->
        <property name="initialSize" value="1"/>
        <!--  指定连接池等待连接返回的最大等待时间，毫秒单位.  -->
        <property name="maxWait" value="60000"/>
        <!--  指定必须保持连接的最小值(For DBCP and Tomcat connection pools)  -->
        <property name="minIdle" value="1"/>
    </bean>

    <!--  配置MyBatis  -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!--  指定MyBatis 的 XML 配置文件路径  -->
        <property name="configLocation" value="classpath:mybatis.xml"/>
        <!--  指定映射器 XML 文件路径  -->
        <property name="mapperLocations" value="classpath:mapper/**/*.xml"/>
    </bean>

    <!--  扫描MyBatis映射器  -->
    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.lyldelove.dao"/>
    </bean>

    <!--  Shiro Filter  -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <!--  配置哪些页面需要受保护，以及访问这些页面需要的权限  -->
        <!-- 注意：规则是有顺序的，从上到下，拦截范围必须是从小到大的 -->
        <!--  anon 可以被匿名访问; authc 必须认证(即登录)后才可能访问的页面; logout 登出; roles 角色过滤器  -->
        <property name="filterChainDefinitions">
            <value>
                /index = anon
                /login = anon
                /** = authc
            </value>
        </property>
    </bean>

    <!--  Shiro SecurityManager安全管理器  -->
    <bean id="securityManager" class="org.apache.shiro.mgt.DefaultSecurityManager">
        <property name="realm" ref="userRealm"/>
    </bean>

    <!--  Shiro 自定义Realm  -->
    <bean id="userRealm" class="com.lyldelove.base.shiro.UserRealm"/>

</beans>