<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyldelove.dao.system.SysDeptMapper">

  <resultMap id="BaseResultMap" type="com.lyldelove.entity.system.SysDept">
    <id column="dept_id" property="deptId" />
    <result column="parent_id" property="parentId" />
    <result column="ancestors" property="ancestors" />
    <result column="dept_name" property="deptName" />
    <result column="order_num" property="orderNum" />
    <result column="leader" property="leader" />
    <result column="phone" property="phone" />
    <result column="email" property="email" />
    <result column="status" property="status" />
    <result column="delete_flag" property="deleteFlag" />
    <result column="create_by" property="createBy" />
    <result column="create_time" property="createTime" />
    <result column="update_by" property="updateBy" />
    <result column="update_time" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    dept_id, parent_id, ancestors, dept_name, order_num, leader, phone, email, `status`, 
    delete_flag, create_by, create_time, update_by, update_time
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_dept
    where dept_id = #{deptId}
  </select>

  <delete id="deleteByPrimaryKey">
    delete from sys_dept
    where dept_id = #{deptId}
  </delete>

  <insert id="insert" keyColumn="dept_id" keyProperty="deptId" useGeneratedKeys="true">
    insert into sys_dept (parent_id, ancestors, dept_name, 
      order_num, leader, phone, 
      email, `status`, delete_flag, 
      create_by, create_time, update_by, 
      update_time)
    values (#{parentId}, #{ancestors}, #{deptName}, 
      #{orderNum}, #{leader}, #{phone}, 
      #{email}, #{status}, #{deleteFlag}, 
      #{createBy}, #{createTime}, #{updateBy}, 
      #{updateTime})
  </insert>

  <update id="updateByPrimaryKey">
    update sys_dept
    set parent_id = #{parentId},
      ancestors = #{ancestors},
      dept_name = #{deptName},
      order_num = #{orderNum},
      leader = #{leader},
      phone = #{phone},
      email = #{email},
      `status` = #{status},
      delete_flag = #{deleteFlag},
      create_by = #{createBy},
      create_time = #{createTime},
      update_by = #{updateBy},
      update_time = #{updateTime}
    where dept_id = #{deptId}
  </update>

</mapper>