<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyldelove.dao.system.SysLoginLogMapper">
  
  <resultMap id="BaseResultMap" type="com.lyldelove.entity.system.SysLoginLog">
    <id column="log_id"  property="logId" />
    <result column="login_name"  property="loginName" />
    <result column="ip_addr"  property="ipAddr" />
    <result column="login_location"  property="loginLocation" />
    <result column="os"  property="os" />
    <result column="browser"  property="browser" />
    <result column="status"  property="status" />
    <result column="message"  property="message" />
    <result column="login_time"  property="loginTime" />
  </resultMap>

  <sql id="Base_Column_List">
    log_id, login_name, ip_addr, login_location, os, browser, `status`, message, login_time
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_login_log
    where log_id = #{logId}
  </select>

  <delete id="deleteByPrimaryKey">
    delete from sys_login_log
    where log_id = #{logId}
  </delete>

  <insert id="insert" keyColumn="log_id" keyProperty="logId" useGeneratedKeys="true">
    insert into sys_login_log (login_name, ip_addr, login_location, 
      os, browser, `status`, 
      message, login_time)
    values (#{loginName}, #{ipAddr}, #{loginLocation}, 
      #{os}, #{browser}, #{status}, 
      #{message}, #{loginTime})
  </insert>

  <update id="updateByPrimaryKey">
    update sys_login_log
    set login_name = #{loginName},
      ip_addr = #{ipAddr},
      login_location = #{loginLocation},
      os = #{os},
      browser = #{browser},
      `status` = #{status},
      message = #{message},
      login_time = #{loginTime}
    where log_id = #{logId}
  </update>

</mapper>