<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lyldelove.dao.system.SysUserMapper">
    <select id="getUser" resultType="sysUser">
        select user_name from sys_user where user_id = 1
    </select>
</mapper>